name: Build

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read version from package.json
        id: get_version
        run: echo "VERSION=$(node -p \"require('./package.json').version\")" >> "$GITHUB_ENV"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (no push)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
          build-args: |
            PUBLIC_API_URL=https://demo-api.letsrevel.io
            ORIGIN=https://demo.letsrevel.io
            PUBLIC_VERSION=${{ env.VERSION }}
          tags: |
            ghcr.io/letsrevel/revel-frontend:latest
            ghcr.io/letsrevel/revel-frontend:${{ env.VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
